*{
    background-color: rgb(215, 183, 220);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;

}

  h1 {
      color:blueviolet;
      font-size: 70px; 
      padding-top: 20px;
  }

  .links {
      background-color:rgb(196, 113, 207);
      color: blueviolet;
      padding: 20px;
      border: 5px solid blueviolet;
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 30px 110px;
      border-radius: 15px;
      font-size: xxx-large;
  }
  
  a {
      background-color: rgb(196, 113, 207);
      color: blueviolet;
  }

  p {
      color:blueviolet;
      font-size: xx-large; 
      padding-top: 20px;
  }